body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: rgb(246, 33, 33);
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}
header {
    color: wheat;
    font-family: 'Chango', cursive;
}
p {
    color: wheat;
}
select {
    padding-top: 10px;
    margin-top: 30px;
}
#pokemon-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}

.pokemon {
    background-color: rgb(167, 143, 143);
    border-radius: 20px;
    box-shadow: 0 3px 15px rgba(100,100,100,0.5);
    margin: 10px;
    padding: 20px;
    text-align: center;
}
.type {
    font-size: 0.8rem;
}
footer {
    font-size: 0.75rem;
    padding-top: 1%;
    margin-top: 1%;
}
#generations select {
    font-size: 1rem;
    background-color: #A78F8F;
}
.number{
    font-size: 0.9rem;
}
header > a {
    color: wheat;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}